h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

img {
  display: block;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  padding: 15px 30px;
}

.logo__link {
  display: flex;
  align-items: center;
}

.logo__text {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 700;
}

.logo__img {
  margin-right: 10px;
}

.main {
  min-height: 100%;
  flex: 1 1 auto;
  margin: 0 5px;
  background-color: #e5e5e5;
  box-shadow: inset 0px 8px 6px -6px #888;
}

.section {
  width: 100%;
  padding: 100px 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;

  max-width: 1200px;
  padding: 0 15px;
  height: 100%;
  margin: 0 auto;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 200px;
}

.content:last-child {
  margin-right: 0;
}

.content__tilte {
  font-family: "Open Sans", sans-serif;
  font-size: 28px;
  line-height: 1.25;
  font-weight: 700;
  text-align: left;
  letter-spacing: 0.03em;
  margin-bottom: 40px;
}

.content__img {
  max-width: 100%;
}

.form {
  width: 365px;
  background-color: #ffffff;
  text-align: center;
  color: #888;
  padding: 15px;

  border: none;
  border-radius: 10px;
}

.form__link--top {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.form__logo--top {
  margin-right: 10px;
}

.form__text--top {
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-weight: 900;
  color: #000000;
}

.form__text {
  line-height: 1.45;
}

.form__text::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: rgba(175, 168, 168, 0.5);
  margin-top: 15px;
  margin-bottom: 30px;
}

.form__label {
  display: block;
  margin-bottom: 30px;
}

.form__input,
.form__btn {
  width: 100%;
  border: 1px solid rgba(175, 168, 168, 0.5);
  border-radius: 4px;
  padding: 10px 5px;
  outline: none;
}

.form__btn {
  color: #ffffff;
  background-color: rgb(248, 129, 60);
  margin-bottom: 30px;
}

.wrap-link {
  display: flex;
  justify-content: space-between;
  color: rgb(71, 71, 243);
  margin-bottom: 30px;
}

.form__btn--bottom {
  width: 100%;
  border-radius: 4px;
  border: 1px solid rgba(175, 168, 168, 0.5);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
  padding: 10px 0;
}

.form__span {
  display: block;
  margin-bottom: 20px;
  position: relative;
}

.form__span::after,
.form__span::before {
  position: absolute;
  top: 5px;
  content: "";
  display: inline-block;
  width: 140px;
  height: 1px;
  background-color: rgba(175, 168, 168, 0.5);
}

.form__span::after {
  right: 0;
}

.form__span::before {
  left: 0;
}

.form__link-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(71, 71, 243);
}

.form__logo--bottom {
  margin-right: 15px;
}

.footer {
  padding: 15px 30px;
}

.footer__text {
  font-size: 12px;
  color: rgb(35, 62, 182);
}

@media screen and (max-width: 1200px) {
  .content {
    margin-right: 100px;
  }
}

@media screen and (max-width: 900px) {
  .content {
    margin-right: 20px;
  }

  .content__tilte {
    margin-bottom: 100px;
  }
}

@media screen and (max-width: 768px) {
  .content {
    margin-right: 5px;
  }

  .content__tilte {
    margin-bottom: 100px;
  }

  .form {
    width: 280px;
  }

  .form__span::after,
  .form__span::before {
    width: 105px;
  }
}

@media screen and (max-width: 480px) {
  .section {
    padding: 48px 0;
  }
  .hidden {
    display: none;
  }

  .form {
    width: 320px;
  }

  .form__span::after,
  .form__span::before {
    width: 100px;
  }
}
