$font-family-basic: "Open Sans", sans-serif;
$font-family: "Roboto", sans-serif;
$color-copyright: #1295c9;
$color-white: #ffffff;
$color-black: #000000;
$bg-color: #c4c4c4;
$color-text: #757575;
$bg-btn: rgb(230, 136, 29);
$color-link: rgb(0, 0, 247);
