.content {
  padding: 20px;

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    margin: 0 auto;
  }
}

.content__main {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
  }
}

.content__tilte {
}
.content__img {
}

.form {
  margin: 0 auto;
  max-width: 480px;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  color: $color-text;
  background-color: $color-white;
}
.form__logo-wrap {
}
.form__link--top {
  font-size: 18px;
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $color-black;
}
.form__logo--top {
  margin-right: 10px;
}
.form__text {
  margin-top: 20px;
}

.form__text::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  margin-top: 15px;
  background-color: $bg-color;
}

.form__wrapper {
  margin-top: 20px;
}

.form__label {
  display: block;
  margin-bottom: 20px;
}

.form__input {
  width: 100%;
  border: 1px solid $bg-color;
  border-radius: 4px;
  padding: 10px 5px;
}

.form__btn {
  width: 100%;
  padding: 10px 0;
  border: none;
  border-radius: 4px;
  background-color: $bg-btn;
}

.wrap-link {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.form__link {
  display: block;
  color: $color-link;
  margin-top: 20px;
}

.form__span {
  position: relative;
  display: block;
  font-weight: 700;
  margin-bottom: 20px;
}

.form__span::before,
.form__span::after {
  display: block;
  position: absolute;
  top: 5px;
  content: "";
  width: 180px;
  height: 1px;
  background-color: $bg-color;

  @media screen and (max-width: 479px) {
    width: 100px;
  }
}

.form__span::before {
  left: 0;
}

.form__span::after {
  right: 0;
}

.form__link--btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px 0;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.form__logo {
  margin-right: 10px;
}
