h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

body {
  font-family: $font-family-basic;
  font-size: 14px;

  margin: 0;
  padding: 0 2px;

  background-color: $color-white;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrap {
  padding: 15px 15px;
  margin: 0 auto;
}

.container {
  padding: 15px 15px;
  margin: 0 auto;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main {
  max-height: 100%;
  flex: 1 1 auto;
  background-color: $bg-color;
}

//  480px, 768px Ð¸ 1200px.
